<html lang="cs" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Úprava inzerátu</title>
</head>
<body>
<div>

    <a th:href="@{../index}">Vrátit se na seznam inzerátů</a>

    <form method="post" th:object="${inzerat}" th:action="@{/update/(id=${id})}">

        <div>
            <label>Text  </label>
            <input type="text" th:field="*{text}" th:name="text"/>
        </div>

        <div>
            <label>Kategorie  </label>
            <select th:field="*{kategorie}" th:name="kategorie">
                <option value="Nákup">Nákup</option>
                <option value="Prodej">Prodej</option>
                <option value="Výměna">Výměna</option>
            </select>
        </div>

        <div>
            <label>Cena  </label>
            <input type="number" field="*{cena}" name="cena"/>
        </div>

        <button type="submit">Upravit</button>

    </form>
</div>
</body>