<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Seznam inzerátů</title>
</head>
<body>
<div>
    <a th:href="@{/create}">Nový inzerát</a>

    <table style="border: 1px solid black" border=1>
        <thead>
        <tr>
            <th>Text</th>
            <th>Kategorie</th>
            <th>Cena</th>
            <th>Datum vytvoření</th>
            <th>Heslo pro úpravu</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="in : ${inzeraty}">
            <td th:text="${in.text}"></td>
            <td th:text="${in.kategorie}"></td>
            <td th:text="${in.cena}"></td>
            <td th:text="${#dates.format(in.datum, 'dd. MM. yyyy HH:mm')}"></td>
            <td th:text="${in.hesloProUpravu}"></td>
            <td>
                <a class="nav-link" th:href="@{/update/(id=${in.id})}">Změnit</a>
            </td>
            <td>
                <a class="nav-link" th:href="@{/delete/(id=${in.id})}">Zničit</a>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

</div>
</body>